/* Place CSS styles here */

head{
    
}


body {
    color: #44021d;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: #f8cbcb;
    padding-left: 20px;
    padding-right: 20px;

}


h1{
    font-family: "Delius Swash Caps", cursive;
    font-size: 32px;
    background-color: #faebd7;
    border:#faebd7, solid, 20px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;

}

h2{
    text-align: center;
    font-size: 32px;

}

h3{
    text-align: center;


}
.item-i{
   display: flex;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
}
.ingerdiants{
    flex: 1;
    border: #cbe2f8, solid;
    background-color: #cbe2f8;
    border-radius: 20px;
    text-align: center;
    list-style-position: inside;
    max-width: 400px;
    gap: 20px;
    padding: 10px ;
    line-height: 1.6;
}
.ingerdiants li{
    margin-bottom: 8px;
}
.ing img{
    display: flex;
    width: 400px;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

h4{
    

}
.top-pic{

    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../img/topcupcake.jpg);
    background-size: cover;
    background-position: center;

}

p{


}

a{


}

a:focus{


}


.tt-row{
    display: flex;
}

