/* Place CSS styles here */

head{
    
}


body {
    color: #44021d;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: #f8cbcb;
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient(135deg, #d7ffcc, #ff5d8f);



}

 img{
   
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.bottom-logo img{
    width: 200px;
    height: 200px;
    display: block; 
    clear: both;
   margin-top: 40px ;
}
h1{
    font-family: "Delius Swash Caps", cursive;
    font-size: 64px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    text-shadow: 4px 4px 6px #edbaba;

}

h2{
    text-align: center;
    border:#faebd7, solid,10px;
    background-color: #faebd7;
    border-radius: 8px;
    

}

h3{
    text-align: center;
    font-size: 32px;

}
.item-i{
    display: flex;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
}
.ingerdiants{
    flex: 1;
    border: #cbe2f8, solid;
    background-color: #cbe2f8;
    border-radius: 20px;
    text-align: center;
    max-width: 400px;
    gap: 20px;
    padding: 10px ;
    line-height: 1.6;
}
.ingerdiants li{
    margin-bottom: 8px;
    text-align: center;
    list-style-position: inside;
}
.ing img{
    display: flex;
    width: 400px;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.item-ii{
    display: flex;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
}
.steps{
    flex: 1;
    border: #cbe2f8, solid;
    background-color: #cbe2f8;
    border-radius: 20px;
    max-width: 600px;
    gap: 20px;
    padding: 10px ;
    padding-right: 10px;
    line-height: 1.6; 
}
.steps li{
    margin-bottom: 8px;
    text-align: center;
    list-style-position: inside;
}
.mix img{
    display: block;
    width: 500px;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}
.top-pic{

    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../img/topcupcake.jpg);
    background-size: cover;
    background-position: center;

}

p{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

}

a{


}

a:focus{


}


.tt-row{
    display: flex;
}

