/* Place CSS styles here */
body {
 background-color: #4c4c7a;
 color: #faebd7;
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: 16px;

}

h1,h2,h3{
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}

img{

}
p{


}

a{


}

a:focus{


}


.tt-row{
    display: flex;
}

