
body {
    margin: 0;
    padding: 0;
    color: #44021d;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.7;
    background: linear-gradient(135deg, #d7ffcc, #ff5d8f);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

/* headers */
h1 {
    font-family: "Delius Swash Caps", cursive;
    font-size: 64px;
    text-align: center;
    text-shadow: 4px 4px 6px #edbaba;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 42px;
    background-color: #faebd7;
    border: 3px solid #faebd7;
    border-radius: 8px;
    padding: 10px;
    margin: 20px auto;
}

h3 {
    text-align: center;
    font-size: 32px;
    font-family: "Poppins", "Arial", sans-serif;
    text-align: center;
    font-size: 32px; 
}
  
/* heading */
.top-pic {
    min-height: 500px;
    background-image: url(../img/topcupcake.jpg);
    background-size: cover;
    background-position: center top;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* group */
.item-i,.item-ii {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    flex-wrap: wrap;
    margin: 40px auto;
}

/* reciepe crad */
.ingerdiants,.steps {
    flex: 1;
    max-width: 500px;
    background-color: #cbe2f8;
    border: 3px solid #cbe2f8;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    list-style-position: inside;
}

/* lists */
.ingerdiants li,
.steps li {
    margin-bottom: 12px;
}

/* right side images */
.ing img,
.mix img {
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    object-fit: cover;
}

/* paragraph */
p {
    text-align: center;
    padding: 0 200px;
}

/* link */
.bottom-link a {
    display: block;        
    margin: 0 auto;       
    padding-bottom: 40px;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 18px;
    color: #44021d;
    text-align: center;   
}

.bottom-link a:hover {
    color: #d7ffcc; 
}

/* footer logo */
.bottom-logo img {
    width: 200px;
    height: auto;
    text-align: center;
    padding: 40px 0;
}
/* button */
#theme-btn {
    display: block;
    margin: 0 auto;
}

/* DARK MODE */

.dark-mode {
    background: linear-gradient(135deg, #8f002b, #5f0049);
    color: #f5e6f0;
}

/* headers */
.dark-mode h1 {
    text-shadow: 4px 4px 6px #3a1f2e;
}

.dark-mode h2 {
    background-color:#4a3b52;
    border-color:#4a3b52;
    color:#f5e6f0;
}

.dark-mode h3 {
    color:#f5e6f0;
}

/* recipe cards */
.dark-mode .ingerdiants,
.dark-mode .steps {
    background-color:#4a3b52;
    border-color:#4a3b52;
    color:#f5e6f0;
}

/* lists */
.dark-mode .ingerdiants li,
.dark-mode .steps li {
    color:#f5e6f0;
}

/* paragraph text */
.dark-mode p {
    color:#f5e6f0;
}

/* links */
.dark-mode .bottom-link a {
    color:#f5e6f0;
}

.dark-mode .bottom-link a:hover {
    color:#d7ffcc; 
}




